   <!doctype html>

   <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

    <title>Pregled prisotnosti</title>

    <h1>Pregled prisotnosti</h1>
      <div class="float-left">
</div>

    <form method=post enctype=multipart/form-data>
      <!--    <select name= razredi method="GET" action="/"}>

    {% for r in razredi %}
    <option value= "{{r}}" SELECTED>{{r}}</option>"
    {% endfor %}
   </select>
   -->
      <input type=file name=file>
      <input class="btn-sm" type=submit value=Upload>
    </form>